In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("C:\Users\redhu\OneDrive\Desktop\spotify_millsongdata.csv")

In [44]:
df.shape

(57650, 4)

In [45]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [47]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [48]:
df.head(0)

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [49]:
df = df.sample(5000)

In [50]:
df.shape

(5000, 3)

In [51]:
df['text']=df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ',regex=True)

In [52]:
import nltk

In [53]:
from nltk.stem.porter import PorterStemmer

In [54]:
stemmer = PorterStemmer()

In [55]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return ' '.join(a)

In [56]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [57]:
df['text'].apply(lambda x: token(x))

4970    ooh i promis not to do it again i promis not t...
3647    you have my heart and we 'll never be world ap...
2911    i been gettin ' lone , too much these day . i ...
1027    one for the money , ye sir , two for the show ...
2067    possess never meant anyth to me i 'm not crazi...
                              ...
2147    pacidi , my love glow ember of even your eye a...
1440    in the wake spring , softli you would bring , ...
2236    i should have learn thi lesson long ago that f...
2712    i 'll tell you whi i ca n't find you everi tim...
1812    is there a better way is there a better way is...
Name: text, Length: 5000, dtype: object

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [59]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
tfid= TfidfVectorizer(analyzer='word', stop_words='english')

In [61]:
matrix = tfid.fit_transform(df['text'])

In [62]:
similar = cosine_similarity(matrix)

In [63]:
similar[0]

array([1.        , 0.01667036, 0.07387155, ..., 0.1591294 , 0.06249481,
       0.05596683])

In [64]:
df.head(5)

,artist,song,text
4970,John Legend,Number One,ooh i promise not to do it again \r i promise...
3647,Train,Umbrella,you have my heart \r and we'll never be world...
2911,Grand Funk Railroad,Gotta Find Me A Better Day,"i been gettin' lonely, too much these days. \..."
1027,Outkast,Elevators (Me And You),"one for the money, yes sir, two for the show ..."
2067,NOFX,Linoleum,possessions never meant anything to me \r i'm...

In [66]:
df[df['song']=='Number One'].index[0]

4970

In [71]:
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [73]:
recommender('In Your Eyes')

['I Love My Dog',
 "It's Only Love",
 'Where Do We Go From Here',
 'Shelter Me',
 'Come To Me, Do',
 'Feels Good At First',
 'Meet Your Master',
 'Little Bird',
 'Novocaine',
 'Haunted Bumps',
 'Out In The Open',
 "What's My Name",
 'Man In The Mirror',
 'Love Was Here',
 'Star',
 'Soap And Water',
 'The Full Monty Medley',
 'Closer Than You Know',
 'So In Love With You (Duke)',
 'Lift Your Name Up']

In [74]:
import pickle

In [75]:
pickle.dump(similar, open('similarity', 'wb'))

In [76]:
pickle.dump(df, open('df', 'wb'))